.container{
    height: 80vh;
}
.arrow {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 80px;

}
.arrow img{
    height: 100%;
    width: auto;
    margin-left: -1px;
    float: left;
}
#flechedr{
    margin-top: -63px;
    margin-right: -38px;
    float: right;

}
h2{
    text-align: center;
}
.col-md-4{
    padding: 0;
}
.aumilieu{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.timer{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.mescol{
    border:1px solid black;
    height: 500px;
    border-radius: 0 0 10px 10px;
}
.afenf:first-child{
    border-left: 1px solid black;
}
button{
    margin: 4em;
}
ul{
    padding: 0;
}
li {
    text-align: center;
    padding: 2em;
    font-size: 1.5em;
    list-style: none;
}

.timer, .timer-done, .timer-loop {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding: 10px;
  }

  // These are the default CSS classes
  // used by this plugin. Use these values
  // for a basic style to get started.
  .jst-hours {
    float: left;
  }
  .jst-minutes {
    float: left;
  }
  .jst-seconds {
    float: left;
  }
  .jst-clearDiv {
    clear: both;
  }
  .jst-timeout {
    color: red;
  }
