.arrow {
    width: 365px;
    height: 100px;
    background-color: #ccc;
    position: relative;
}

.arrow:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 365px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left: 12px solid #ccc;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 365px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left: 12px solid #999;
}
.col-md-4{
    padding-left: 0;
}
.aumilieu{
    display: flex;
    flex-direction: column;
    bor
}
button{
    margin: 4em;
}
li {
    text-align: center;
}
.timer, .timer-done, .timer-loop {
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding: 10px;
  }

  // These are the default CSS classes
  // used by this plugin. Use these values
  // for a basic style to get started.
  .jst-hours {
    float: left;
  }
  .jst-minutes {
    float: left;
  }
  .jst-seconds {
    float: left;
  }
  .jst-clearDiv {
    clear: both;
  }
  .jst-timeout {
    color: red;
  }
